@model WebApplication4.Models.User

@{
    ViewBag.Title = "Details";
}

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Admin</a></li>
    <li><a href="#">Users</a></li>
    <li>@Html.ActionLink("Manage Users", "Index", "User")</li>
    <li class="active">User Details</li>
</ol>


<div>
    <hr />
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title" style="color:black;">
                <b>User Details </b>
                <span>
                    &nbsp;
                    <a href="@Url.Action("Edit", new { id = Model.UserID})">
                        <i class="glyphicon glyphicon-pencil"></i>
                        <span class="sr-only">Edit</span>
                    </a>
                </span>
            </h3>
        </div>
    <dl class="dl-horizontal" id="detailsDL">
        <dt>
            @Html.DisplayNameFor(model => model.UserFName) |
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserFName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserLName) |
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserLName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserIDNum) |
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserIDNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserContractNum) |
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserContractNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName) |
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserEmailAddress) |
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserEmailAddress)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.UserPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPassword)
        </dd>*@

        <dt>
            @Html.DisplayName("Access Role") |
            @*@Html.DisplayNameFor(model => model.UserAccessLevel.UserAccessLevelDescr)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAccessLevel.UserAccessLevelDescr)
        </dd>

    </dl>
        </div>
</div>
<div class="form-inline">
    @using (Html.BeginForm("Index", "User", FormMethod.Get, new { @class = "form-inline" }))
            {
        <div class="col-md-6">
            <div class=input-group>
                <div class="input-group-btn">
                    <button class="btn btn-success" type="submit" id="btnBack-Details">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Back to List
                    </button>
                </div>
            </div>
        </div>

        <br style="margin-top: 10px" />
    }
</div>
