@model WebApplication4.Models.Order

@{
    ViewBag.Title = "OrderDetails";
}

<h2>OrderDetails</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderItemPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderItemPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Farm.FarmName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Farm.FarmName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderStatu.OrderStatusDescr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatu.OrderStatusDescr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier.SupplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.SupplierName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderNum }) |
    @Html.ActionLink("Back to List", "Index")
</p>
