@model IEnumerable<WebApplication4.Models.Customer>

@{
    ViewBag.Title = "Customers";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add new customer", "Create")
</p>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerFName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerLName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CustomerContactNum)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.ContactPersonalEmailAddress)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>Actions</th>
        @*<th>
            @Html.DisplayNameFor(model => model.CompanyPhysAddress)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.CompanyTelNum)
        </th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerFName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerLName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CustomerContactNum)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.ContactPersonalEmailAddress)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CompanyPhysAddress)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.CompanyTelNum)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerID })
        </td>
    </tr>
}

</table>
