@model WebApplication4.Models.Farm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Farm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FarmName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FarmName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Province.ProvinceDescr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province.ProvinceDescr)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FarmID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
