@model IEnumerable<WebApplication4.Models.VehicleService>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VehicleService_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleService_Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleService_Mileage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleServiceRecordUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.VehName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleService_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleService_Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleService_Mileage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleServiceRecordUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle.VehName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VehicleServiceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VehicleServiceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VehicleServiceID })
        </td>
    </tr>
}

</table>
