@model IEnumerable<WebApplication4.Models.InventoryType>

@{
    ViewBag.Title = "Inventory Types";
}

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Resources</a></li>
    <li>@Html.ActionLink("Inventory", "Index", "Inventory")</li>
    <li class="active">Inventory Types</li>
</ol>

<div class="row">

    <div class="col-xs-6 col-md-4">
        @using (Html.BeginForm("Create", "InventoryType", FormMethod.Get, new { @class = "form-inline" }))
            {
            <div class="input-group">
                <div class="input-group-btn">
                    <button class="btn btn-success" type="submit">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add Inventory Type
                    </button>
                </div>
            </div>
        }
    </div>
</div>

<br />

    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>
                    <span style="color:green;">@Html.DisplayNameFor(model => model.InvTypeDescr)</span>
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InvTypeDescr)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.InvTypeID })">
                        <i class="glyphicon glyphicon-pencil"></i>
                        <span class="sr-only">Edit</span>
                    </a>
                    <a href="@Url.Action("Delete", new { id = item.InvTypeID })">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span class="sr-only">Edit</span>
                    </a>
                </td>
            </tr>
        }

    </table>
