@model FarmITApp.Models.Land

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Land</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Farm.FarmName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Farm.FarmName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LandID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
