@model WebApplication4.ViewModels.InventoryIndexViewModel
@using PagedList.Mvc @*PageList Library*@

@{
    ViewBag.Title = "Inventory";
}

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Resources</a></li>
    <li class="active">Inventory</li>
</ol>

<div class="well">
    <div class="row">

        <div class="col-xs-6 col-md-2">
            @using (Html.BeginForm("Create", "Inventory", FormMethod.Get, new { @class = "form-inline" }))
            {
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-success" type="submit">
                            <span class="glyphicon glyphicon-plus"></span>
                            Add Inventory
                        </button>
                    </div>
                </div>
            }
        </div>
        <div class="col-xs-6 col-md-2">
            @using (Html.BeginForm("Index", "InventoryType", FormMethod.Get, new { @class = "form-inline" }))
            {
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <span class="glyphicon glyphicon-cog"></span>
                            Manage Types
                        </button>
                    </div>
                </div>
            }
        </div>
        <div class="col-xs-6 col-md-4">
            @using (Html.BeginForm("Index", "Inventory", FormMethod.Get))
            {
                <div class="input-group">
                    @Html.Label("Filter by type:")
                    <span>@Html.DropDownListFor(vm => vm.InventoryType, Model.InvTypeFilterItems, "All")</span>
                    @*<div class="input-group-btn">*@
                    <button class="btn btn-info" type="submit">
                        <span class="glyphicon glyphicon-filter"></span>
                    </button>
                    @*</div>*@
                    @*<input type="hidden" name="Search" id="Search" value="@Model.Search">*@
                </div>
                @*</div>*@
            }
        </div>
        <div class="col-xs-6 col-md-4">
            @using (Html.BeginForm("Index", "Inventory", FormMethod.Get, new { @class = "form-inline" }))
            {
                <div class="input-group">
                    <span>@Html.TextBox("Search", null, new { @class = "form-control", @placeholder = "Enter search keyword or phrase" })</span>
                    <div class="input-group-btn">
                        <button class="btn btn-info" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>
                <span style="color:green;">@Html.DisplayNameFor(model => model.Inventories.First().InvDescr)</span>
            </th>
            <th>
                <span style="color:green;">@Html.DisplayNameFor(model => model.Inventories.First().InvQty)</span>
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Inventories.First().InvDatePurchased)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Inventories.First().InvCode)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Inventories.First().InvSIUnit)
                </th>*@
            <th>
                <span style="color:green;">@Html.DisplayNameFor(model => model.Inventories.First().InventoryType.InvTypeDescr)</span>
            </th>
            <th>
                <span style="color:green;">@Html.DisplayName("Actions")</span>
            </th>
        </tr>
    </thead>

    @foreach (var item in Model.Inventories)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvDescr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvQty)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.InvDatePurchased)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.InvCode)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.InvSIUnit)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.InventoryType.InvTypeDescr)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.InventoryID})">
                    <i class="glyphicon glyphicon-pencil"></i>
                    <span class="sr-only">Edit</span>
                </a>
                <a href="@Url.Action("Details", new { id = item.InventoryID })">
                    <i class="glyphicon glyphicon-zoom-in"></i>
                    <span class="sr-only">Details</span>
                </a>
                <a href="@Url.Action("Delete", new { id = item.InventoryID })">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span class="sr-only">Details</span>
                </a>
                <a href="@Url.Action("Order", new { id = item.InventoryID })">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                    <span class="sr-only">Order</span>
                </a>
            </td>
        </tr>
    }

</table>
<p>
    @*condition? first_expression : second_expression*@
    @(String.IsNullOrWhiteSpace(Model.Search) ? "Showing all " : "You searched for '" + Model.Search + "' found ")@Model.Inventories.TotalItemCount inventory items
</p>

@*Generate paging links*@
<div>
    @*wrap in div for presentation purpose*@
    Page @(Model.Inventories.PageCount < Model.Inventories.PageNumber ? 0 : @*evaluate whether or not there are any pages to display*@
    Model.Inventories.PageNumber) of @Model.Inventories.PageCount @*Display Page x of y*@
    @Html.PagedListPager(Model.Inventories, page => Url.Action("Index",@*Takes list of inventories and produces a hyperlink to each page*@
    new
    {
        farmworkertype = @Model.InventoryType,
        Search = @Model.Search,
        page
    }))
</div>
