@model WebApplication4.Models.UserAccessLevel

@{
    ViewBag.Title = "Details";
}

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Admin</a></li>
    <li><a href="#">Users</a></li>
    <li>@Html.ActionLink("Manage Users Access Roles", "Index", "User")</li>
    <li class="active">User Access Role Details</li>
</ol>


<div>
    <hr />
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title" style="color:black;">
                <b>User Access Role Details </b>
                <span>
                    &nbsp;
                    <a href="@Url.Action("Edit", new { id = Model.UserAccessLevelID})">
                        <i class="glyphicon glyphicon-pencil"></i>
                        <span class="sr-only">Edit</span>
                    </a>
                </span>
            </h3>
        </div>
        <dl class="dl-horizontal" id="detailsDL">
            <dt>
                @Html.DisplayNameFor(model => model.UserAccessLevelDescr) |
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserAccessLevelDescr)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Notes) |
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>

        </dl>
    </div>
</div>
<div class="form-inline">
    @using (Html.BeginForm("Index", "UserAccessLevel", FormMethod.Get, new { @class = "form-inline" }))
            {
        <div class="col-md-6">
            <div class=input-group>
                <div class="input-group-btn">
                    <button class="btn btn-success" type="submit" id="btnBack-Details">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Back to List
                    </button>
                </div>
            </div>
        </div>

        <br style="margin-top: 10px" />
    }
</div>