@model WebApplication4.Models.Inventory

@{
    ViewBag.Title = "Details";
}

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Resources</a></li>
    <li>@Html.ActionLink("Inventory", "Index", "Inventory")</li>
    <li class="active">Inventory Details</li>
</ol>

<div class="panel panel-success">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <div class="input-group"> 
                <div class="col-xs-6 col-md-6">
                    <h3 class="panel-title" style="color:black;"><b>Inventory Details </b> </h3>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="@Url.Action("Edit", new { id = Model.InventoryID})">
                        <i class="glyphicon glyphicon-pencil"></i>
                        <span class="sr-only">Edit</span>
                    </a>
                </div>
                    </div>
            </div>
        </div>
    </div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InvDescr) |
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvDescr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvQty) |
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvDatePurchased) |
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvDatePurchased)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvCode) |
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvSIUnit) |
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvSIUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InventoryType.InvTypeDescr) |
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventoryType.InvTypeDescr)
        </dd>

    </dl>
</div>

<div class="row">
            @using (Html.BeginForm("Index", "Inventory", FormMethod.Get, new { @class = "form-inline" }))
            {
                <div class="col-xs-6 col-md-5">
                    <div class=input-group>
                        <div class="input-group-btn">
                            <button class="btn btn-success" type="submit">
                                <span class="glyphicon glyphicon-arrow-left"></span>
                                Back
                            </button>
                        </div>
                    </div>
                </div>
            }
</div>
