@model WebApplication4.Models.CropType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CropType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CropTypeDescr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CropTypeDescr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaturityDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaturityDays)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CropTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
