@model WebApplication4.Models.VehicleType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VehicleType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VehTypeDescr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehTypeDescr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehTypeImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehTypeImg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VehTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
