@model FarmITApp.Models.Supplier

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surburb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surburb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierEmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierEmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierPhoneNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierPhoneNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierCellNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierCellNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country.CountryDescr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.CountryDescr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Province.ProvinceDescr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province.ProvinceDescr)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SupplierID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
