@model IEnumerable<WebApplication4.Models.FarmWorkerType>

@{
    ViewBag.Title = "Farm Worker Types";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FarmWorkerTypeDescr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FarmWorkerTypeActiveStatus)
        </th>
        <th>
            @Html.DisplayName("Actions")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FarmWorkerTypeDescr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FarmWorkerTypeActiveStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FarmWorkerTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FarmWorkerTypeID }) |
            @Html.ActionLink("Archive", "Delete", new { id=item.FarmWorkerTypeID })
        </td>
    </tr>
}

</table>
